@inject ElectroApp.Services.LayoutServices layoutService
@{
    WishlistVM wishlist = await layoutService.ShowWishlist();
}
<div class="listSettings">
    <div class="leftside col-lg-6">
        <div class="opencloseList setElem">
            <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <div class="listName setElem">
            <span>MyList</span>
        </div>
        <div class="prodCount setElem">
            <p style="display:none" id="totalwishCount">@layoutService.ShowWishlist().Result.Count</p>
            <span class="wishlistCount" id="wcount">@wishlist.Count</span>
        </div>
    </div>
    <div class="rightside col-lg-6">
        <div class="wishMenu">
            <span><i class="fa-solid fa-ellipsis"></i></span>
        </div>
    </div>
</div>
<div class="listItems">
    <div class="item">
        @foreach (var item in wishlist.WishlistItems)
        {
            <div class="item-wrapper">
                <div class="itemImage wlistItem">
                    <div class="thumbnail">
                        <div class="remove">
                            <a class="removewishElement" asp-controller="product" asp-action="DeleteWishlistItem" asp-route-id="@item.Product.Id" title="Remove">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="8"
                                     height="17" viewBox="0 0 44 64">
                                    <path d="M0 48.64q0-2.304 1.664-3.968l12.48-12.48-12.48-12.544q-1.664-1.6-1.664-3.904t1.664-3.904 3.904-1.6 3.904 1.6l12.544 12.544 12.48-12.544q1.6-1.6 3.904-1.6t3.904 1.6 1.6 3.904-1.6 3.904l-12.48 12.544 12.48 12.48q1.6 1.664 1.6 3.968t-1.6 3.904-3.904 1.6-3.904-1.6l-12.48-12.48-12.544 12.48q-1.6 1.6-3.904 1.6t-3.904-1.6q-1.664-1.664-1.664-3.904z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        @foreach (var image in item.Product.ProductImages)
                        {
                            if (image.IsMain)
                            {
                                <img src="~/assets/images/featuredProducts/@image.Image"
                                     alt="">
                            }
                        }
                    </div>

                </div>
                <div class="itemInfo wlistItem">
                    <div class="productName">
                        <a href="">@item.Product.Name</a>
                    </div>
                    <div class="stockContidition">
                        @if (item.Product.InStock)
                        {
                            <span class="text-success" style="font-weight:bold;">In stock</span>
                        }
                        else
                        {
                            <span class="text-danger" style="font-weight:bold;">Out of stock</span>
                        }
                    </div>
                </div>
                <div class="action wlistItem">
                    <div class="actwrapper">
                        <div class="price"><span>$@(Math.Floor((item.Price)*100)/100)</span></div>
                        <div class="quantity">
                            <div class="qty-inner">
                                <button type="button" class="qty-up">
                                    <svg version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                         viewBox="0 0 37 64">
                                        <path d="M35.2 28.8q1.92 0 1.92 3.2t-1.92 3.2h-13.44v13.44q0 1.92-3.2 1.92t-3.2-1.92v-13.44h-13.44q-1.92 0-1.92-3.2t1.92-3.2h13.44v-13.44q0-1.92 3.2-1.92t3.2 1.92v13.44h13.44z">
                                        </path>
                                    </svg>
                                </button>
                                <input type="number" class="" id="quantity" value="1"
                                       pattern="[0-9]*" min="1">
                                <button type="button" class="qty-down">
                                    <svg version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                         viewBox="0 0 37 64">
                                        <path d="M35.2 28.8q1.92 0 1.92 3.2t-1.92 3.2h-33.28q-1.92 0-1.92-3.2t1.92-3.2h33.28z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="addtoCart">
                            <a href="">Add to Cart</a>
                        </div>
                    </div>
                    <p style="display:none" id="totalwishCount">@layoutService.ShowWishlist().Result.Count</p>
                </div>
            </div>
        }
    </div>
</div>