@model Product
@{
    ViewData["Title"] = "Details";
    List<Product> related = ViewBag.RelatedProducts;
}

<section id="brdcrumb">
    <div class="container">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <div class="display">
                            <div class="syllabus">
                                <a href="#">Home > Product</a>
                            </div>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section id="detailspage">
    <div class="container">
        <div class="row">
            <div class="productdetails">
                <div class="productcontent-wrapper">
                    <div class="left col-lg-5 col-md-6 col-12">
                        <div class="imagewrapper">
                            <div class="product-imgs">
                                <div id="mainCarousel" class="mainCarousel carousel w-10/12 max-w-5xl mx-auto"
                                     style="width: 100%;">
                                    @foreach (var image in Model.ProductImages)
                                    {
                                        <div class="carousel__slide"
                                             data-src="/assets/images/featuredProducts/@image.Image"
                                             data-fancybox="gallery">
                                            <img src="~/assets/images/featuredProducts/@image.Image" alt="">
                                        </div>
                                    }
                                </div>
                                <div id="thumbCarousel" class="thumbCarousel carousel max-w-xl mx-auto">
                                    @foreach (var image in Model.ProductImages)
                                    {
                                        <div class="carousel__slide">
                                            <img class="panzoom__content"
                                                 src="~/assets/images/featuredProducts/@image.Image" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middle col-lg-4 col-md-6 col-12">
                        <div class="productwrapper">
                            <div class="product-text-details">
                                <div class="topdetails">
                                    <div class="name">
                                        <a href="" class="brandname">@Model.Brand.Name</a>
                                        <p class="productname">@Model.Name</p>
                                    </div>
                                    <div class="addreview">
                                        <div class="stars"></div><a class="toreview" href="">Add Your Review</a>
                                    </div>
                                    <div class="share">
                                        <a href="" class="social">
                                            <svg version="1.1"
                                                 xmlns="http://www.w3.org/2000/svg" width="11" height="14"
                                                 viewBox="0 0 37 64">
                                                <path d="M34.24 0.448v9.408h-5.568q-3.072 0-4.16 1.28t-1.088 3.84v6.784h10.496l-1.408 10.56h-9.088v27.136h-10.944v-27.136h-9.088v-10.56h9.088v-7.808q0-6.656 3.712-10.304t9.92-3.648q5.248 0 8.128 0.448z">
                                                </path>
                                            </svg><span>Share</span>
                                        </a>
                                        <a href="" class="social">
                                            <svg version="1.1"
                                                 xmlns="http://www.w3.org/2000/svg" width="11" height="14"
                                                 viewBox="0 0 48 64">
                                                <path d="M47.936 56c0 2.176-0.832 4.096-2.368 5.632-1.6 1.6-3.456 2.368-5.696 2.368h-15.872c-6.592 0-12.288-2.304-16.96-7.040-4.672-4.672-7.040-10.304-7.040-16.896v-32.064c0-2.24 0.768-4.16 2.368-5.696 1.536-1.536 3.456-2.304 5.696-2.304 2.176 0 4.096 0.768 5.632 2.368 1.6 1.536 2.368 3.456 2.368 5.632v11.584h22.592c2.048 0 3.84 0.768 5.312 2.24 1.408 1.408 2.176 3.136 2.176 5.184s-0.768 3.776-2.176 5.248c-1.472 1.472-3.264 2.176-5.248 2.176h-22.656v5.632c0 2.176 0.768 4.096 2.304 5.632s3.456 2.304 5.632 2.304h15.872c2.24 0 4.096 0.768 5.696 2.368 1.536 1.536 2.368 3.456 2.368 5.632">
                                                </path>
                                            </svg><span>Tweet</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="bodydetails">
                                    <div class="features">
                                        <ul>
                                            @foreach (var feature in Model.Features)
                                            {
                                                <li>
                                                    @feature.FeatureName
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="bottomdetails">
                                    <ul>
                                        <li>Product SKU: @Model.SkuCode</li>
                                        <li>
                                            <span>Category:</span>
                                            @foreach (var category in Model.ProductCategories)
                                            {
                                                <a asp-controller="product" asp-action="index" asp-route-categoryId="@category.Id">@category.Category.Name </a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                                <div class="people-in-cart">
                                    <div class="img-user">
                                        <img src="~/assets/images/banner/in_cart.png" alt="Image">
                                    </div>
                                    <div class="people-block-text">
                                        <span>Other people want this.</span> 11 people
                                        have this in their carts right now.
                                    </div>
                                </div>
                                <ul class="shipping-time" data-gmt="" data-deliverytime="2" data-deadline="14">
                                    <li class="delivery-time">
                                        Want it delivered
                                        by&nbsp;<strong>Tuesday,&nbsp;22&nbsp;March</strong>
                                    </li>
                                    <li class="deadline">
                                        <span class="text">Order within&nbsp;</span>
                                        <div class="countdown_deadline is-countdown">
                                            <span class="countdown-row countdown-show3">
                                                <span class="countdown-section">
                                                    <span class="countdown-amount">43</span>
                                                    <span class="countdown-period">Hours</span>
                                                </span><span class="countdown-section">
                                                    <span class="countdown-amount">55</span>
                                                    <span class="countdown-period">Minutes</span>
                                                </span>
                                                <span class="countdown-section">
                                                    <span class="countdown-amount">22</span>
                                                    <span class="countdown-period">Seconds</span>
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right col-lg-3 col-md-12 col-12">
                        <div class="right-action-wrapper">
                            <div class="product-info">
                                <div class="product-info-inner">
                                    <div class="instock">
                                        <span>Avaliable:</span>
                                        @if (Model.InStock)
                                        {
                                            <span class="stock">In Stock</span>
                                        }
                                        else
                                        {
                                            <span class="stock" style="color:orangered !important;">Out of Stock</span>
                                        }

                                    </div>
                                </div>
                                <div class="productprice">
                                    @if (Model.CampaignId == null)
                                    {
                                        <p class="price">$@(Math.Floor((Model.Price)*100)/100)</p>
                                    }
                                    else
                                    {
                                        <p class="price" style="color:red">$@(Math.Floor((Model.Price*(100-Model.Campaign.DiscountPercent)/100)*100)/100)<span style="font-size: 15px; text-decoration: line-through;color:grey;margin-left:5px;">$@Model.Price</span></p>
                                    }
                                    @*<span class="price">$@Model.Price</span>*@
                                </div>
                                <form action="">
                                    <p class="smdesc">Quantity</p>
                                    <div class="quantity2">
                                        <input type="number" class="" id="quantity2" value="1" pattern="[0-9]*"
                                               min="1">
                                        <div class="qty-wrapper">
                                            <span class="qty-inner">
                                                <button type="button" class="qty-up2">
                                                    <svg version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                         viewBox="0 0 37 64">
                                                        <path d="M35.2 28.8q1.92 0 1.92 3.2t-1.92 3.2h-13.44v13.44q0 1.92-3.2 1.92t-3.2-1.92v-13.44h-13.44q-1.92 0-1.92-3.2t1.92-3.2h13.44v-13.44q0-1.92 3.2-1.92t3.2 1.92v13.44h13.44z">
                                                        </path>
                                                    </svg>
                                                </button>
                                                <button type="button" class="qty-down2">
                                                    <svg version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                         viewBox="0 0 37 64">
                                                        <path d="M35.2 28.8q1.92 0 1.92 3.2t-1.92 3.2h-33.28q-1.92 0-1.92-3.2t1.92-3.2h33.28z">
                                                        </path>
                                                    </svg>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    @*<div class="options">
                                        <p class="choosever">Choose Version</p>
                                        <div class="versionwrapper">
                                            <select name="" id="adress-country" data-defeault="United Stated">
                                                <option value="United States">240gb Memory</option>
                                                <option value="England">500Gb Memory</option>
                                                <option value="Ukraine">1Tb Memory,CoD Edition</option>
                                                <option value="France">1Tb Memory,basic </option>
                                            </select>
                                        </div>
                                    </div>*@
                                    <div class="action-button">
                                        <a style="text-decoration:none;" asp-controller="product" asp-action="addbasket" asp-route-id="@Model.Id" class="add-to-cart btn-1 addToBasket">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18"
                                                 height="18" viewBox="0 0 68 64">
                                                <path d="M2.24 0.576c3.52-0.704 7.168 0.192 10.24 1.792 2.624 1.344 4.224 4.096 5.056 6.848 0.96 3.008 1.344 6.144 1.92 9.216 0.96 5.056 2.304 10.048 3.072 15.104 0.384 2.048 0.704 4.224 2.112 5.888 1.408 1.6 3.776 1.664 5.824 1.728 5.376 0 10.816-0.256 16.192 0.128 1.344 0.064 2.88 0 3.648-1.344 3.52-5.312 6.464-11.008 9.28-16.768 0.576-1.152 1.28-2.368 2.56-2.816 1.344-0.448 3.008-0.256 4.032 0.768 1.152 1.28 1.344 3.2 0.704 4.736-2.688 5.376-5.184 10.816-8.512 15.872-1.472 2.176-3.008 4.544-5.184 6.144-1.792 1.28-4.096 0.832-6.144 0.768-6.272-0.064-12.544 0.384-18.752 0-4.16-0.32-8.256-2.368-10.624-5.888-1.728-2.752-2.368-6.080-3.008-9.216-1.28-6.784-2.624-13.504-3.904-20.288-0.384-1.6-0.896-3.392-2.304-4.352-2.24-1.6-5.376-0.256-7.552-1.984-1.344-0.96-0.704-2.688-0.832-4.096-0.128-1.216 1.152-1.984 2.176-2.24zM34.432 4.928c-0.064-1.216 1.408-1.536 2.368-1.792 2.048-0.32 4.608-0.384 6.208 1.152 0.448 3.776 0.64 7.616 0.768 11.392 1.92 0.128 3.84-0.256 5.76-0.064 0.704 0.064 1.536 0.512 1.472 1.344-0.32 1.472-1.472 2.56-2.368 3.712-2.688 3.456-5.76 6.528-8.832 9.536-0.448 0.448-1.024 0.704-1.6 0.448-1.216-0.512-1.984-1.728-2.88-2.688-2.112-2.304-4.224-4.544-6.144-6.912-0.96-1.216-2.176-2.24-2.624-3.712-0.256-0.832 0.512-1.6 1.344-1.664 1.92-0.256 3.84 0.128 5.76 0 0.256-3.584 0.384-7.168 0.768-10.752zM25.28 51.584c2.432-0.704 5.184 0 6.784 1.856 2.368 2.624 1.984 7.232-0.96 9.216-3.136 2.304-8.448 1.216-9.92-2.56-1.664-3.328 0.64-7.616 4.096-8.512zM45.376 53.504c2.432-2.88 7.36-2.944 9.856-0.128 2.112 2.304 2.048 6.208-0.064 8.512-1.216 1.28-2.944 2.048-4.672 2.112h-0.128c-1.856-0.064-3.776-0.832-4.928-2.24-2.048-2.304-2.112-6.016-0.064-8.256z">
                                                </path>
                                            </svg>Add to cart
                                        </a>
                                    </div>
                                    <div class="bottomform">
                                        <div class="whishlist productBtnEl">
                                            <a href="">
                                                <i class="fa-solid fa-heart"></i>
                                                <span>Wishlist</span>
                                            </a>
                                        </div>
                                        <div class="Compare productBtnEl">
                                            <a style="text-decoration:none;" asp-controller="product" asp-action="addcompare" asp-route-id="@Model.Id" class="addToCompare">
                                                <i class="fa-solid fa-code-compare"></i>
                                                <span>Compare</span>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="fullinfo">
        <div class="container">
            <div class="row">
                <div class="wrapperfull">
                    <div class="bannerforFatured">
                        <div class="productsBy">
                            <div class="productsCat">
                                <ul>
                                    <div class="category activeDetailsCatName" id="description">
                                    <li>
                                        <p>Description</p>
                                    </li>
                            </div>
                            <div class="category" id="specifications">
                                <li>
                                    <p>Specifications</p>
                                </li>
                            </div>
                            <div class="category" id="pvideo">
                                <li>
                                    <p>Video</p>
                                </li>
                            </div>
                            <div class="category" id="shipping">
                                <li>
                                    <p>Shipping & Return</p>
                                </li>
                            </div>
                            <div class="category" id="review">
                                <li>
                                    <p>Product reviews</p>
                                </li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="contenybyCat">
                        <div class="all description activeDetailsContent">
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        <div class="all specifications">
                            <ul>
                                @foreach (var spec in Model.Specs)
                                {
                                    <li>@spec.Name:@spec.Value</li>
                                }
                            </ul>
                        </div>
                        @if (Model.Videolink == null)
                        {
                            <div class="all pvideo" style="padding-bottom:40px !important;">
                                <h3 style="text-align: center; color: #333e48;">This product has no video</h3>
                            </div>
                        }

                        else
                        {
                            <div class="all pvideo">
                                <iframe width="560" height="315" src="@Model.Videolink"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>

                        }
                        <div class="all shipping">
                            <div>
                                <h4>RETURNS POLICY</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut blandit
                                    risus.
                                    Donec mollis nec tellus et rutrum. Orci varius natoque penatibus et magnis
                                    dis
                                    parturient montes, nascetur ridiculus mus. Ut consequat quam a purus
                                    faucibus
                                    scelerisque. Mauris ac dui ante. Pellentesque congue porttitor tempus. Donec
                                    sodales dapibus urna sed dictum. Duis congue posuere libero, a aliquam est
                                    porta
                                    quis.
                                </p>
                                <p>
                                    Donec ullamcorper magna enim, vitae fermentum turpis elementum quis. Interdum
                                    et
                                    malesuada fames ac ante ipsum primis in faucibus.
                                </p>
                                <p>
                                    Curabitur vel sem mi. Proin in lobortis ipsum. Aliquam rutrum tempor ex ac
                                    rutrum. Maecenas nunc nulla, placerat at eleifend in, viverra etos sem. Nam
                                    sagittis lacus metus, dignissim blandit magna euismod eget. Suspendisse a
                                    nisl
                                    lacus. Phasellus eget augue tincidunt, sollicitudin lectus sed, convallis
                                    desto.
                                    Pellentesque vitae dui lacinia, venenatis erat sit amet, fringilla felis.
                                    Nullam
                                    maximus nisi nec mi facilisis.
                                </p>
                                <h4>SHIPPING</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut blandit
                                    risus.
                                    Donec mollis nec tellus et rutrum. Orci varius natoque penatibus et magnis
                                    dis
                                    parturient montes, nascetur ridiculus mus. Ut consequat quam a purus
                                    faucibus
                                    scelerisque. Mauris ac dui ante. Pellentesque congue porttitor tempus. Donec
                                    sodales dapibus urna sed dictum. Duis congue posuere libero, a aliquam est
                                    porta
                                    quis.
                                </p>
                                <p>
                                    Donec ullamcorper magna enim, vitae fermentum turpis elementum quis. Interdum
                                    et
                                    malesuada fames ac ante ipsum primis in faucibus.
                                </p>
                                <p>
                                    Curabitur vel sem mi. Proin in lobortis ipsum. Aliquam rutrum tempor ex ac
                                    rutrum. Maecenas nunc nulla, placerat at eleifend in, viverra etos sem. Nam
                                    sagittis lacus metus, dignissim blandit magna euismod eget. Suspendisse a
                                    nisl
                                    lacus. Phasellus eget augue tincidunt, sollicitudin lectus sed, convallis
                                    desto.
                                    Pellentesque vitae dui lacinia, venenatis erat sit amet, fringilla felis.
                                    Nullam
                                    maximus nisi nec mi facilisis.
                                </p>
                            </div>
                        </div>
                        <div class="all review">
                            <div class="reviewWrapper">
                                <div class="topofreviews">
                                    <h4 class="desc">Customer Reviews</h4>
                                </div>
                                <div class="writereview">
                                    <div class="overallstar col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="my-rating"></div>
                                        <p class="revcount">Based on 6 reviews</p>
                                    </div>
                                    <div class="writeopenclose col-lg-6 col-md-6 col-sm-6 col-12">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <p class="opclsbtn">Write a review</p>
                                        }
                                        else
                                        {
                                            <a style="text-decoration:none;" asp-controller="account" asp-action="login" class="opclsbtn">Login for to write review</a>
                                        }
                                    </div>
                                </div>
                                <div class="writingsection">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <p class="announce">Write a review</p>
                                        <form asp-controller="product" asp-action="addcomment" method="post">
                                            @*<div class="name similarEach">*@
                                            @*<label for="name">Name</label><br>
                                                    <input type="text" id="name" class="name"
                                                           placeholder="Enter your name">
                                                </div>
                                                <div class="email similarEach">
                                                    <label for="email">Email</label><br>
                                                    <input type="email" id="email" placeholder="someone@example.com">
                                                </div>*@
                                            <div class="title similarEach">
                                                <label for="title">Review Title</label><br>
                                                <input name="title" placeholder="Give your review a title">
                                            </div>
                                            <div class="textareaRev similarEach">
                                                <label for="message">Body of Review (1500)</label><br>
                                                <textarea name="Text" placeholder="Write your comments here"></textarea>
                                            </div>
                                            <div class="submitmes">
                                                <input type="hidden" name="ProductId" value="@Model.Id" />
                                                <input type="submit" value="Submit Review">
                                            </div>
                                        </form>
                                    }
                                </div>
                                <div class="allcomments">
                                    @foreach (var comment in Model.ProductComments.Where(c => c.IsAccess == true).OrderBy(c => c.WriteDate))
                                    {
                                        if (comment.AppUser.UserName == User.Identity.Name)
                                        {
                                            <div class="comment">
                                                @*<div class="stars">
                                                        <p>***** Helekilik</p>
                                                    </div>*@
                                                <div class="commentBy">
                                                    <p class="commentinfo">
                                                        <span class="Username">@comment.AppUser.UserName&nbsp;</span>on
                                                        <span class="date">@comment.WriteDate.ToString("dd MMMM yyyy HH:mm")</span>
                                                    </p>
                                                </div>
                                                <p class="shippinInfo">Free shipping</p>
                                                <p class="commentitself">
                                                    @comment.Text
                                                </p>
                                                <p class="commentitself">
                                                    <a style="color:red;" asp-controller="product" asp-action="deletecomment" asp-route-id="@comment.Id">Delete</a>
                                                </p>
                                                @*<div class="anverbyAdmin">
                                                        <div class="anserWrapper">

                                                            <p class="adminUsername">- Rufet Mezemov</p>
                                                            <p class="messageContent">
                                                                Thank you for making your first
                                                                purchase.
                                                                We’re so glad that you found what you were looking for.
                                                            </p>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="comment">
                                                @*<div class="stars">
                                                        <p>***** Helekilik</p>
                                                    </div>*@
                                                <div class="commentBy">
                                                    <p class="commentinfo">
                                                        <span class="Username">@comment.AppUser.UserName&nbsp;</span>on
                                                        <span class="date">@comment.WriteDate.ToString("dd MMMM yyyy HH:mm")</span>
                                                    </p>
                                                </div>
                                                <p class="shippinInfo">Free shipping</p>
                                                <p class="commentitself">
                                                    @comment.Text
                                                </p>
                                                @*<div class="anverbyAdmin">
                                                        <div class="anserWrapper">

                                                            <p class="adminUsername">- Rufet Mezemov</p>
                                                            <p class="messageContent">
                                                                Thank you for making your first
                                                                purchase.
                                                                We’re so glad that you found what you were looking for.
                                                            </p>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        }
                                    }

                                    @*<div class="comment">
                                            <div class="stars">
                                                <p>***** Helekilik</p>
                                            </div>
                                            <div class="commentBy">
                                                <p class="commentinfo">
                                                    <span class="Username">Bailey&nbsp;</span>on
                                                    <span class="date">jun 15,2021</span>
                                                </p>
                                            </div>
                                            <p class="shippinInfo">Free shipping</p>
                                            <p class="commentitself">
                                                Excellent customer service! Whenever I needed something they were
                                                there
                                                for me.
                                            </p>
                                            <div class="anverbyAdmin">
                                                <div class="anserWrapper">

                                                    <p class="adminUsername">- Rufet Mezemov</p>
                                                    <p class="messageContent">
                                                        Thank you for making your first
                                                        purchase.
                                                        We’re so glad that you found what you were looking for.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="relatedproducts">
        <div class="container">
            <div class="row">
                <div class="bannerforFatured">
                    <div class="productsBy">
                        <p>Related items</p>
                    </div>
                </div>
                <div class="content">
                    <div class="contenybyCat">
                        <div class="all">
                            <div class="productsByCat">
                                <div class="byCat">
                                    @await Html.PartialAsync("_RelProductPartialView", related)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- owl carousel -->
<script src="~/plugins/ui-main/dist/fancybox.umd.js"></script>
<script src="~/plugins/ui-main/dist/carousel.umd.js"></script>
<script src="~/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
<!-- ---------------- -->
<!-- ------progressbar---- -->
<script src="~/assets/JS/skill.bars.jquery.js"></script>
<script src="~/plugins/star-rating-svg-master/src/jquery.star-rating-svg.js"></script>
<script src="~/assets/js/detailspg.js"></script>
<!-- ----------------- -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>;
<script>
    $(document).ready(function () {
        $(document).on("click", ".addToBasket", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Product/GetPartial`
            fetch(url).then(res => res.text()).then(data => {
                fetch(urlForPartial).then(res => res.text().then(data => {
                    $(".prCartCont").empty();
                    //var card = document.querySelector(".prCartCont")
                    //card.innerHTML = `<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>`
                    $(".prCartCont").append(data);
                }))

            })
            setTimeout(function () {
                var totalCount = document.getElementById("totalCount");
                var count = totalCount.innerHTML
                var htmlTag = document.getElementById("tcount");
                htmlTag.innerHTML = count
            }, 100)
        });
    })

    $(document).ready(function () {
        $(document).on("click", ".cart-close", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Product/GetPartial`
            fetch(url).then(res => res.text()).then(data => {
                fetch(urlForPartial).then(res => res.text().then(data => {
                    $(".prCartCont").empty();
                    //var card = document.querySelector(".prCartCont")
                    //card.innerHTML = `<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>`
                    $(".prCartCont").append(data);
                }))

            })
            setTimeout(function () {
                var totalCount = document.getElementById("totalCount");
                var htmlTag = document.getElementById("tcount");
                htmlTag.innerHTML = "0"
                var count = totalCount.innerHTML
                htmlTag.innerHTML = count
            }, 100)
        });
    })
</script>

<script>
    $(document).ready(function () {
        $(document).on("click", ".addToCompare", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Product/GetComparePartial`
            fetch(url).then(res => res.text()).then(data => {
                fetch(urlForPartial).then(res => res.text().then(data => {
                    $(".compCart").empty();
                    //var card = document.querySelector(".prCartCont")
                    //card.innerHTML = `<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>`
                    $(".compCart").append(data);
                }))

            })
            setTimeout(function () {
                var totalCount = document.getElementById("totalCompareCount");
                var count = totalCount.innerHTML
                var htmlTag = document.getElementById("tcompCount");
                htmlTag.innerHTML = count
            }, 100)
        });
    })

    $(document).ready(function () {
        $(document).on("click", ".removeCompEl", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Product/GetComparePartial`
            fetch(url).then(res => res.text()).then(data => {
                fetch(urlForPartial).then(res => res.text().then(data => {
                    $(".compCart").empty();
                    //var card = document.querySelector(".prCartCont")
                    //card.innerHTML = `<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>`
                    $(".compCart").append(data);
                }))

            })
            setTimeout(function () {
                var totalCount = document.getElementById("totalCompareCount");
                var htmlTag = document.getElementById("tcompCount");
                htmlTag.innerHTML = "0"
                var count = totalCount.innerHTML
                htmlTag.innerHTML = count
            }, 100)
        });
    })
</script>
<script>
    //AutocompleteSearch
    $('#generalSearch').keyup(function () {
        var searchField = $('#generalSearch').val();
        var expression = RegExp(searchField, "i");
        /*$('.searchResult').remove();*/
        $('.searchResult').addClass("d-none");
        $('.searchList').remove();
        $.ajax({
            type: "GET",
            url: "/Home/Search",
            success: function (response) {
                var data = JSON.parse(response);
                if (searchField != "") {
                    var html_Body = `<ul class="searchList">

                                        </ul>`;
                } $('.searchResult').append(html_Body);
                $.each(data, function (key, item) {
                    if (item.Name.search(expression) != -1 && searchField != "") {
                        $('.searchResult').removeClass("d-none");
                        var html_Search = `<li class="listEl">
                                                <div class="image">
                                                     <a href="/product/details/${item.Id}"><img src="/assets/images/featuredProducts/${item.ProductImages[0].Image}"></a>
                                                </div>
                                                <div class="textInfo">
                                                    <h4 class="productName"><a href="/product/details/${item.Id}">${item.Name}</a></h4>
                                                    <p class="CurrentPrice">${item.Price}<span class="oldPrice">$500.00</span></p>
                                                </div>
                                            </li>`;
                        $('.searchList').append(html_Search);
                    }
                })
            }
        })
    })
</script>
<script src="~/plugins/Fullscreen-Loading-Modal-Indicator-Plugin-For-jQuery-loadingModal/js/jquery.loadingModal.min.js"></script>
<script>
    function showModal() {
        $('body').loadingModal({
            position: 'auto',
            text: '',
            color: '#fff',
            opacity: '0.7',
            backgroundColor: 'rgb(0,0,0)',
            animation: 'wave'
        });

        var delay = function (ms) { return new Promise(function (r) { setTimeout(r, ms); }) };
        var time = 200;

        delay(time)
            .then(function () { $('body').loadingModal('animation', 'wave'); return delay(time); })
            .then(function () { $('body').loadingModal('hide'); return delay(time); })
            .then(function () { $('body').loadingModal('destroy'); });
    }
    showModal();
</script>
<script src="~/assets/js/script.js"></script>
