@model Product
@{
    ViewData["Title"] = "Edit";
}

@section CSS{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="container mt-3">
    <form method="post" class="mt-3" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Product name</label>
            <input asp-for="@Model.Name" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label">Product price</label>
            <input asp-for="@Model.Price" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CostPrice" class="form-label">Product cost price</label>
            <input asp-for="@Model.CostPrice" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.CostPrice"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description</label>
            <input asp-for="@Model.Description" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.SkuCode" class="form-label">SKU Code</label>
            <input asp-for="@Model.SkuCode" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.SkuCode"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Videolink" class="form-label">Video link</label>
            <input asp-for="@Model.Videolink" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Videolink"></span>
        </div>
        <div style="display:flex;justify-content:space-between;flex-wrap:wrap">
            <div class="mb-3">
                <label asp-for="@Model.CategoryIds" class="form-label">Categories</label><br />
                <select asp-for="@Model.CategoryIds" class="form-select">
                    @foreach (var category in ViewBag.Categories)
                    {
                        if (Model.ProductCategories.FirstOrDefault(fc => fc.CategoryId == category.Id) != null)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>

                        }
                    }
                </select>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.CategoryIds"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.BrandId" class="form-label">Brands</label><br />
                <select asp-for="@Model.BrandId" class="form-select" asp-items="@(new SelectList(ViewBag.Brands,"Id","Name"))">
                </select>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.CampaignId"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CampaignId" class="form-label">Campaign</label><br />
                <select asp-for="@Model.CampaignId" class="form-select" asp-items="@(new SelectList(ViewBag.Campaigns,"Id","DiscountPercent"))">
                    <option value="0">Select campaign</option>
                </select>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.CampaignId"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.InStock" class="form-label">In stock</label><br />
                <input asp-for="@Model.InStock"><br />
                <span class="mt-2 text text-danger" asp-validation-for="@Model.InStock"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AvaliableCount" class="form-label">Avaliable</label><br />
                <input asp-for="@Model.AvaliableCount"><br />
                <span class="mt-2 text text-danger" asp-validation-for="@Model.AvaliableCount"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ImageFiles" class="form-label">Select images</label>
            <input asp-for="@Model.ImageFiles" class="form-control" />
            <span class="mt-2 text text-danger" asp-validation-for="@Model.ImageFiles"></span>
        </div>

        <h4 style="padding:10px;text-align:center;">Specifications</h4>

        <div class="form-row col-12" id="spec">
            @{ int count = 0;
                @foreach (var item in Model.Specs)
                {
                    <div class="form-group">
                        <label for="specName">Spec Name</label>
                        <input name="Specs[@count].Name" type="text" value="@item.Name" class="deleting" />
                        <span class="text-danger"></span>

                        <label for="specValue"> Spec Value</label>
                        <input name="Specs[@count].Value" type="text" value="@item.Value" class="deleting" />
                        <span class="text-danger"></span>
                        <span><i class="fas fa-minus delete-skill"> </i></span>
                    </div>

                    count++;
                }
            }
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group">
                <button data-nextIndex="@Model.Specs.Count" class="add-skill btn btn-primary">+</button>
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex">
                @foreach (ProductImage productImage in Model.ProductImages)
                {


                    <div style="position:relative">
                        @if (productImage.IsMain)
                        {
                            <h6 style="text-align:center;font-weight:600;">This is main image<span style="margin-left:5px;position:relative;top:5px"><i class="fa-solid fa-arrow-turn-down"></i></span></h6>
                        }
                        else
                        {
                            <h6 style="visibility:hidden;opacity:0">TOnly for looking</h6>
                        }
                        <div style="margin-right: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; ">
                            <img width="200" style="object-fit:contain;" src="~/assets/images/featuredProducts/@productImage.Image" alt="product image" />
                            <i class="fas fa-times close" style="position:absolute;top:30px;right:15px;color:red;font-size:20px"></i>
                            <input type="hidden" name="ImageIds" value="@productImage.Id" />
                        </div>
                    </div>
                }
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".close").click(function () {
                $(this).parent().parent().remove();
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $(document).on("click", ".add-skill", function (e) {
                e.preventDefault();
                var nextIndex = $(this).attr("data-nextIndex");
                var inputGroup = ` <div class="form-group col-12" data-index="0">
                    <label for="specName">Spec Name</label>
                    <input name="Specs[`+ nextIndex + `].Name" type="text" />
                    <span class="text-danger"></span>
                    <label for="specValue">Spec Value</label>
                    <input name="Specs[`+ nextIndex + `].Value" type="text" />
                    <span  class="text-danger"></span>
                    <span><i class="fas fa-minus delete-skill"> </i></span>
                </div>`
                $("#spec").append($(inputGroup))
                nextIndex = +nextIndex + 1;
                console.log(nextIndex)
                $(this).attr("data-nextIndex", nextIndex)
            })
            $(document).on("click", ".delete-skill", function (e) {
                e.preventDefault();
                console.log("test");
                $(this).parents(".form-group").empty();
            })
        })
        for (var i = 0; i < document.getElementsByClassName("delete-skill").length; i++) {

            document.getElementsByClassName("delete-skill")[i].onclick = function (e) {
                e.preventDefault();
                this.parentElement.parentElement.innerHTML = null;

                for (var z = 0; z < document.getElementsByClassName("deleting").length; z += 2) {
                    var count = 0;
                    for (var t = 0; t < 2; t++) {
                        var name = "Specs[" + (z / 2) + "].Name";
                        var value = "Specs[" + (z / 2) + "].Value";
                        document.getElementsByClassName("deleting")[z].setAttribute("name", name);
                        document.getElementsByClassName("deleting")[z + 1].setAttribute("name", value);
                        count++;
                    }
                }
            }
        }
    </script>
}